<link href="~/Content/Leerlingen.css" rel="stylesheet" type="text/css" />


@model Project_Krekelhof.ViewModels.CdIndexViewModel

@{
    ViewBag.Title = "CdLijst";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("zoekstring")
        <input type="submit" value="Filter" />
    </p>
}

<div>
    @Html.Partial("CdLijst", Model)
</div>