@model Project_Krekelhof.ViewModels.DvdIndexViewModel

@{
    ViewBag.Title = "DvdLijst";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Ajax.BeginForm("Index",
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "Get",
            UpdateTargetId = "Dvds"//,
            //OnComplete = "clearMessage"
        }
        ))
{
    <input type="search" name="search" id="search" />
    <input type="submit" value="Search in all products" class="btn btn-default" />
}

<div>
    @Html.Partial("DvdLijst", Model)
</div>