<link href="~/Content/Home.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Welkom";
}

<body>
    <h2><img src="~/Images/Krekel.png" />Welkom</h2>

    <p id="p1">Ga naar</p>
        <div id="div2">
            <div id="div1">

                <div>

                    <button onclick="location.href = '/../Uitlening/Index'"><img src="~/Images/Uitleningen.png" /> Uitleningen</button>
                    <button onclick="location.href = '/../Leerling/Index'"><img src="~/Images/cyberscooty-kids-smiling.png" />Leerlingen</button>
                    
                  

                </div>

                <div>
                   
                    
                </div>

                <div>
                    
                 

                </div>

                <div>
                    <button onclick="location.href = '/../Item/Index'"><img src="~/Images/Boeken2.png" />Boeken</button>
                    <button onclick="location.href = '/../Item/Index'"><img src="~/Images/Verteltas.png" />Verteltassen</button>
                    <button onclick="location.href = '/../Item/Index'"><img src="~/Images/Spel.png" />Spellen</button>
                    

                </div>

                <div>
                    

                </div>
        </div>
    </div>
        
    
</body>




