<link href="~/Content/Home.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "TEST";
}

<div>
    <h2><img src="~/Images/Krekel.png" /></h2>
    <p>
        <ul id="knoppen">
            <li><button><img src="~/Images/Krekel.png"/>Uitleningen</button></li>
            <li><button>Leerlingen</button></li>
            <li><button>Items</button></li>
        </ul>
    </p>
</div>




