@model Project_Krekelhof.ViewModels.BoekIndexViewModel
@{
    ViewBag.Title = "Boekenlijst";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>

@*@using (Ajax.BeginForm("Index",
        new AjaxOptions
        {
            HttpMethod = "Get",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "Boeken"//,
            //OnComplete = "clearMessage"
        }
        ))
{
    <input type="search" name="search" id="search" />
    <input type="submit" value="Zoek" class="btn btn-default" />
}*@

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("zoekstring")
        <input type="submit" value="Filter" />
    </p>
}

<div>
    @Html.Partial("BoekenLijst", Model)
</div>