@charset "utf-8";
/* CSS Document */

body {
    /*background-color : #66CC00;*/
	text-align: center;    
    color:#333;    
    font: 13px/1.5 Verdana,Helvetica,Arial,sans-serif;

    

    background: rgba(210,255,82,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 72%, rgba(145,232,66,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(210,255,82,1)), color-stop(72%, rgba(145,232,66,1)), color-stop(100%, rgba(145,232,66,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 72%, rgba(145,232,66,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 72%, rgba(145,232,66,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 72%, rgba(145,232,66,1) 100%);
    background: radial-gradient(ellipse at center, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 72%, rgba(145,232,66,1) 100%);



    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1 );
   
}

#stapel{
    background-image: url(../Images/Stapel.png) ;
    float: left;
    margin-left: 0px;
    padding-left: 0px;
    
    
}

h2{
	font: 100px Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	margin-bottom: 20px;
    margin-top: 50px;
}

#h1zoeken img{
height: 40px;    

}

tr:nth-child(even) {
    background-color: #EBEBEB;
    
}
tr:nth-child(odd) {
    background-color: #BFBFBF;
}

tr{
    border: 2px solid white;
}

tr td{
    border: 1px solid white;
}

#TabelHoofd {
    color: White;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: solid;

    
}

.Editknop {
    background: url('../Images/Toevoegen.png') no-repeat center right; 
    display: block; 
    height: 10px; 
    width: 10px;
}

.Detailsknop {
    background: url('../Images/Toevoegen.png') no-repeat center right; 
    display: block; 
    height: 10px; 
    width: 10px;
}

.Deleteknop {
    background: url('../Images/Toevoegen.png') no-repeat center right; 
    display: block; 
    height: 10px; 
    width: 10px;
}


#TabelHoofd th{
    text-align: center;
    padding-top: 15px;
    border: 1px solid white;

}

table tr th{
        text-align: center;
    padding-top: 15px;
    border: 1px solid white;
}

td{
    height: 90px;
    text-align: left;
}

#tabelrijen:hover{
    border: 3px solid grey;
}


.button_example{
border:1px solid #B7B7B7;-webkit-box-shadow: #B4B5B5 1px 1px 1px  ;-moz-box-shadow: #B4B5B5 1px 1px 1px ; box-shadow: #B4B5B5 1px 1px 1px  ; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;width:88px;font-size:13px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color: #FFFFFF; background-color: #D3D3D3;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#D3D3D3), to(#707070));
 background-image: -webkit-linear-gradient(top, #D3D3D3, #707070);
 background-image: -moz-linear-gradient(top, #D3D3D3, #707070);
 background-image: -ms-linear-gradient(top, #D3D3D3, #707070);
 background-image: -o-linear-gradient(top, #D3D3D3, #707070);
 background-image: linear-gradient(to bottom, #D3D3D3, #707070);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#D3D3D3, endColorstr=#707070);
}

.button_example:hover{
 border:1px solid #A0A0A0; background-color: #BABABA;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#BABABA), top(#575757));
 background-image: -webkit-linear-gradient(top, #BABABA, #575757);
 background-image: -moz-linear-gradient(top, #BABABA, #575757);
 background-image: -ms-linear-gradient(top, #BABABA, #575757);
 background-image: -o-linear-gradient(top, #BABABA, #575757);
 background-image: linear-gradient(to bottom, #BABABA, #575757);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#BABABA, endColorstr=#575757);
}

.selected {
    background-color: brown;
    color: #FFF;
}