@charset "utf-8";
/* CSS Document */

body {
    /*background-color : #66CC00;*/
	text-align: center;    
    color:#333;    
    font: 13px/1.5 Verdana,Helvetica,Arial,sans-serif;

    background: rgba(210,255,82,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 72%, rgba(145,232,66,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(210,255,82,1)), color-stop(72%, rgba(145,232,66,1)), color-stop(100%, rgba(145,232,66,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 72%, rgba(145,232,66,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 72%, rgba(145,232,66,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 72%, rgba(145,232,66,1) 100%);
    background: radial-gradient(ellipse at center, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 72%, rgba(145,232,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1 );
   
}

h2{
	font: 100px Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	margin-bottom: 20px;
    margin-top: 50px;
}

#h1zoeken img{
height: 40px;    

}

tr:nth-child(even) {
    background-color: #EBEBEB;
    
}
tr:nth-child(odd) {
    background-color: #BFBFBF;
}

tr{
    border: 2px solid white;
}

tr td{
    border: 1px solid white;
}

#TabelHoofd {
    color: White;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: solid;

    
}

.Editknop {
    background: url('../Images/Toevoegen.png') no-repeat center right; 
    display: block; 
    height: 10px; 
    width: 10px;
}

.Detailsknop {
    background: url('../Images/Toevoegen.png') no-repeat center right; 
    display: block; 
    height: 10px; 
    width: 10px;
}

.Deleteknop {
    background: url('../Images/Toevoegen.png') no-repeat center right; 
    display: block; 
    height: 10px; 
    width: 10px;
}


#TabelHoofd th{
    text-align: center;
    padding-top: 15px;
    border: 1px solid white;

}


