@charset "utf-8";
/* CSS Document */

body {
    /*background-color : #66CC00;*/
	text-align: center;    
    color:#333;    
    font: 13px/1.5 Verdana,Helvetica,Arial,sans-serif;

    background: rgba(210,255,82,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 72%, rgba(145,232,66,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(210,255,82,1)), color-stop(72%, rgba(145,232,66,1)), color-stop(100%, rgba(145,232,66,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 72%, rgba(145,232,66,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 72%, rgba(145,232,66,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 72%, rgba(145,232,66,1) 100%);
    background: radial-gradient(ellipse at center, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 72%, rgba(145,232,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1 );
   
}

h2{
	font: 100px Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	margin-bottom: 20px;
    margin-top: 50px;
}

div{
    
	/*text-align: center;
	align-content: center;
	align-self: center;*/
}


/*btton{
	

  background: #96b832;
  background-image: -webkit-linear-gradient(top, #96b832, #5c9923);
  background-image: -moz-linear-gradient(top, #96b832, #5c9923);
  background-image: -ms-linear-gradient(top, #96b832, #5c9923);
  background-image: -o-linear-gradient(top, #96b832, #5c9923);
  background-image: linear-gradient(to bottom, #96b832, #5c9923);
  
  
/* 
	-webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  text-shadow: 3px 3px 3px #666666;
  */
  
/*  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", sans-serif;
  color: #fff2f8;
  font-size: 28px;
  padding: 5px 5px 5px 5px;
  margin-left: 5px;
  width: 200px;
  height: 200px;
  
 
}*/

/*button:hover {

  background: #97b6c9;
  background-image: -webkit-linear-gradient(top, #97b6c9, #2c3338);
  background-image: -moz-linear-gradient(top, #97b6c9, #2c3338);
  background-image: -ms-linear-gradient(top, #97b6c9, #2c3338);
  background-image: -o-linear-gradient(top, #97b6c9, #2c3338);
  background-image: linear-gradient(to bottom, #97b6c9, #2c3338);

}*/

#rechts{
    padding-top: 10px;
    padding-bottom: 15px;

}
button{
    float: left;

}


p {
    padding: 10px;
    
	
}

#p1{
	font-size: 30px;
	margin-bottom: 0px;
}


button img {
	
    height: 180px;
   
}

#div2{
    text-align: center;
  }

#div1 {
    
    text-align:center;
}


#div1 div{
    
    /*float: left;*/
   
}


.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc; width: 100%;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}

#Scroll{
    overflow:scroll;
    height:180px;
    width: 100%;
}
 
form{
    width: 200px;
   

}
input{
    margin-bottom: 5px;
    width: 200px;
    
    
    }
#knop{
    width: 200px;
}

#lijst{
    width: 200px;
}

#zoek{
    width: 170px;
}

#uitleningen{
    height: 0px;
}

#uitleningen button{
    float: right;
    margin-left: 5px;
}

#zoekform{
    height: 150px;
}






/*
#wrapper {
    margin: 0 auto;
    width: 1000px;
}

#headerwrap {
    width: 1000px;
    float: left;
    margin: 0 auto;
}

#header {
    height: 75px;
    background: #FF6633;
    border-radius: 10px;
    border: 1px solid #eb521f;
    margin: 5px;
}

#navigationwrap {
    width: 1000px;
    float: left;
    margin: 0 auto;
}

#navigation {
    height: 40px;
    background: #FFCC33;
    border-radius: 10px;
    border: 1px solid #ebb81f;
    margin: 5px;
}

#contentwrap {
    width: 1000;
    float: left;
    margin: 0 auto;
}

#content {
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    margin: 5px;
}

#footerwrap {
    width: 1000px;
    float: left;
    margin: 0 auto;
    clear: both;
}

#footer {
    height: 40px;
    background: #33FF66;
    border-radius: 10px;
    border: 1px solid #1feb52;
    margin: 5px;
}

    */




